/dts-v1/;
/plugin/;

/ {
	overlay-name = "Camera IMX519 Dual over v-link";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = "nvidia,p3768-0000+p3767-0000\0nvidia,p3768-0000+p3767-0001\0nvidia,p3768-0000+p3767-0003\0nvidia,p3768-0000+p3767-0004\0nvidia,p3768-0000+p3767-0005\0nvidia,p3768-0000+p3767-0000-super\0nvidia,p3768-0000+p3767-0001-super\0nvidia,p3768-0000+p3767-0003-super\0nvidia,p3768-0000+p3767-0004-super\0nvidia,p3768-0000+p3767-0005-super";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			tegra-capture-vi {
				num-channels = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						vi_in0: endpoint {
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&csi_out0>;
						};
					};
					port@1 {
						reg = <1>;
						vi_in1: endpoint {
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&csi_out1>;
						};
					};
				};
			};
			tegra-camera-platform {
				compatible = "nvidia, tegra-camera-platform";
				num_csi_lanes = <4>;
				max_lane_speed = <1500000>;
				min_bits_per_pixel = <10>;
				vi_peak_byte_per_pixel = <2>;
				vi_bw_margin_pct = <25>;
				max_pixel_rate = <7500000>;
				isp_peak_byte_per_pixel = <5>;
				isp_bw_margin_pct = <25>;

				modules {
					module0 {
						badge = "cam0_imx519";
						position = "rear";
						orientation = "1";

						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@0/imx519_0@1a";
						};
					};
					module1 {
						badge = "cam1_imx519";
						position = "front";
						orientation = "1";

						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@1/imx519_1@1a";
						};
					};
				};
			};
			bus@0 {
				host1x@13e00000 {
					nvcsi@15a00000 {
						num-channels = <2>;
						#address-cells = <1>;
						#size-cells = <0>;
						channel@0 {
							reg = <0>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									csi_in0: endpoint@0 {
										port-index = <1>;
										bus-width = <2>;
										remote-endpoint = <&v_link_deser_out0>;
									};
								};
								port@1 {
									reg = <1>;
									csi_out0: endpoint@1 {
										remote-endpoint = <&vi_in0>;
									};
								};
							};
						};
						channel@1 {
							reg = <1>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									csi_in1: endpoint@0 {
										port-index = <2>;
										bus-width = <2>;
										remote-endpoint = <&v_link_deser_out1>;
									};
								};
								port@1 {
									reg = <1>;
									csi_out1: endpoint@1 {
										remote-endpoint = <&vi_in1>;
									};
								};
							};
						};
					};
				};
				cam_i2cmux {
					status = "okay";
					compatible = "i2c-mux-gpio";
					#address-cells = <1>;
					#size-cells = <0>;
					mux-gpios = <&gpio_aon 19 0>;
					i2c-parent = <&cam_i2c>;

					/* CAM0 - CSI Port 1 (serial_b) - HAS lane_polarity */
					i2c@0 {
						status = "okay";
						reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;

						serializer_0: serializer@42 {
							status = "okay";
							compatible = "videtronic,v-link-ser";
							reg = <0x42>;
							gpio-controller;
							#gpio-cells = <2>;
							bus-width = <2>;

							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									status = "okay";
									v_link_ser_in0: endpoint@0 {
										status = "okay";
										port-index = <0>;
										bus-width = <2>;
										remote-endpoint = <&imx519_out0>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									v_link_ser_out0: endpoint@1 {
										status = "okay";
										port-index = <1>;
										remote-endpoint = <&v_link_deser_in0>;
									};
								};
							};
						};

						deserializer_0: deserializer@4c {
							status = "okay";
							compatible = "videtronic,v-link-deser";
							reg = <0x4c>;
							bus-width = <2>;
							link-freq = "800000000";
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									status = "okay";
									v_link_deser_in0: endpoint@0 {
										status = "okay";
										port-index = <0>;
										remote-endpoint = <&v_link_ser_out0>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									v_link_deser_out0: endpoint@1 {
										status = "okay";
										port-index = <1>;
										bus-width = <2>;
										remote-endpoint = <&csi_in0>;
									};
								};
							};
						};

						imx519_0@1a {
							status = "okay";
							compatible = "arducam,imx519";
							reg = <0x1a>;
							devnode = "video0";
							physical_w = "3.680";
							physical_h = "2.760";
							sensor_model = "imx519";
							use_sensor_mode_id = "true";
							reset-gpios = <&serializer_0 0 0>;

							mode0 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_b";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "6";
								active_w = "4656";
								active_h = "3496";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "12650";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "9000000";
								step_framerate = "1";
								default_framerate = "9000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode1 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_b";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "6";
								active_w = "3840";
								active_h = "2160";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "10486";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "17000000";
								step_framerate = "1";
								default_framerate = "17000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode2 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_b";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "6";
								active_w = "1920";
								active_h = "1080";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "6027";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "60000000";
								step_framerate = "1";
								default_framerate = "60000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode3 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_b";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "6";
								active_w = "1280";
								active_h = "720";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "4336";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "120000000";
								step_framerate = "1";
								default_framerate = "120000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									imx519_out0: endpoint {
										port-index = <1>;
										bus-width = <2>;
										remote-endpoint = <&v_link_ser_in0>;
									};
								};
							};
						};
					};

					/* CAM1 - CSI Port 2 (serial_c) - NO lane_polarity (per Videtronic spec) */
					i2c@1 {
						status = "okay";
						reg = <1>;
						#address-cells = <1>;
						#size-cells = <0>;

						serializer_1: serializer@42 {
							status = "okay";
							compatible = "videtronic,v-link-ser";
							reg = <0x42>;
							gpio-controller;
							#gpio-cells = <2>;
							bus-width = <2>;

							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									status = "okay";
									v_link_ser_in1: endpoint@0 {
										status = "okay";
										port-index = <0>;
										bus-width = <2>;
										remote-endpoint = <&imx519_out1>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									v_link_ser_out1: endpoint@1 {
										status = "okay";
										port-index = <1>;
										remote-endpoint = <&v_link_deser_in1>;
									};
								};
							};
						};

						deserializer_1: deserializer@4c {
							status = "okay";
							compatible = "videtronic,v-link-deser";
							reg = <0x4c>;
							bus-width = <2>;
							link-freq = "800000000";
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									status = "okay";
									v_link_deser_in1: endpoint@0 {
										status = "okay";
										port-index = <0>;
										remote-endpoint = <&v_link_ser_out1>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									v_link_deser_out1: endpoint@1 {
										status = "okay";
										port-index = <1>;
										bus-width = <2>;
										remote-endpoint = <&csi_in1>;
									};
								};
							};
						};

						imx519_1@1a {
							status = "okay";
							compatible = "arducam,imx519";
							reg = <0x1a>;
							devnode = "video1";
							physical_w = "3.680";
							physical_h = "2.760";
							sensor_model = "imx519";
							use_sensor_mode_id = "true";
							reset-gpios = <&serializer_1 0 0>;

							/* CAM1 modes - NO lane_polarity for serial_c */
							mode0 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								active_w = "4656";
								active_h = "3496";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "12650";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "9000000";
								step_framerate = "1";
								default_framerate = "9000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode1 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								active_w = "3840";
								active_h = "2160";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "10486";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "17000000";
								step_framerate = "1";
								default_framerate = "17000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode2 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								active_w = "1920";
								active_h = "1080";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "6027";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "60000000";
								step_framerate = "1";
								default_framerate = "60000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							mode3 {
								mclk_khz = "24000";
								num_lanes = "2";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "no";
								dpcm_enable = "false";
								cil_settletime = "0";
								active_w = "1280";
								active_h = "720";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "4336";
								inherent_gain = "1";
								mclk_multiplier = "80";
								pix_clk_hz = "300000000";
								gain_factor = "16";
								framerate_factor = "1000000";
								exposure_factor = "1000000";
								min_gain_val = "16";
								max_gain_val = "256";
								step_gain_val = "1";
								default_gain = "16";
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								min_framerate = "2000000";
								max_framerate = "120000000";
								step_framerate = "1";
								default_framerate = "120000000";
								min_exp_time = "13";
								max_exp_time = "683709";
								step_exp_time = "1";
								default_exp_time = "2495";
								embedded_metadata_height = "2";
							};

							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									imx519_out1: endpoint {
										port-index = <2>;
										bus-width = <2>;
										remote-endpoint = <&v_link_ser_in1>;
									};
								};
							};
						};
					};
				};
			};
		};
	};
};
